<!DOCTYPE html>
<html>
<head>
    <title>Добавление исполнителя</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <h1>Добавление исполнителя</h1>
     <form method="POST">
        <label>Имя</label><br>
        <input name="name" class="field"/><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/artists">К списку исполнителей</a>
</body>
<html>